<!-- Navbar start -->
<div class="hero-head is-light">
    <nav class="navbar border-shadow">
      <div class="container">
        <div class="navbar-brand">
            <a class="logo" href="./index.html">
            <img src="assets/img/dolo.png" id="dolo" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>

        <!-- Donation tab -->
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-item">
                Donate
               </a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="./donate.html">
                    Donor Profile
                  </a>
                  <a class="navbar-item" href="./org-search.html">
                    Search Organizations
                  </a>
                </div>
              </div>
          </div>

          <!-- Organization tab -->
          <div class="navbar">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-item">
                  Organizations
                 </a>
                 <div class="navbar-dropdown">
                    <a class="navbar-item" href="./organization.html">
                      Org Profile
                    </a>
                    <a class="navbar-item" href="./donation-search.html">
                      Search Donations
                    </a>
                  </div>
                </div>
            </div>

        <!-- About tab -->
            <a class="navbar-item" href="./about.html">
              About Us
            </a>
            <span class="navbar-item">
              <a class="button is-info is-outlined is-small" href="./login.html">
                <span class="icon">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
                <span id="signin">Sign In</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-info is-outlined is-small" href="./index.html">
                <span class="icon">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
                <span id="signout">Sign Out</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar end -->
